/* CSS declarations go here */

/*############################ CABECERA ############################*/

.cabecera {

}

/*######################### MAIN_CONTAINER #########################*/

.main {
  margin: 0 auto;
  width: 80%;
}

/*######################### HACKATHON_LIST #########################*/

.hackathons-list {
  width: 100%;
}

.hackathons-list li {
  list-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hackathons-list li p {
  padding-bottom: 20px;
}
